{# ARTICLE HILIGHTS #}
<h3>Two articles side by side</h3>
<div class="element--article-hilights element--article-hilights--two-sidebyside">
	<ul class="article-list double clearfix"> 
		{% for article in articles %}
			<li class="article">
				<div class="article-smallimg">
					<a href="#"><img src="{{ article.image }}"></a>
				</div><!--
			--><div class="article-info">
					<div class="article-date">
						{{ article.date }}
					</div>
					<div class="article-title">
						{{ article.title }}
					</div>
					{% if loop.index0 is even %}
					<div class="article-button previous">
						<a href="#" class="">{{ previous }}</a>
					</div>
					{% else %}
					<div class="article-button next">
						<a href="#" class="">{{ next }}</a>
					</div>
					{% endif %}
				</div>                                                                
			</li>
		{% endfor %}
	</ul>
</div>

<h3>Vertical blocks</h3>
<div class="element--article-hilights element--article-hilights--vertical-block">
	<div class="row">
		{% set i = 0 %}
		{% for article in articles %}
			{# Add table row after every 2 elements. #}
			{# This is for tablet view so that two elements side by side will be the same height. #}
		 	{% if i % 2 == 0 %}
				{# Close previous table row #}
				{% if i > 0 %} 
					</div>
				{% endif %}
				<div class="add-table-row">
			{% endif %}
			{# New row after every 4 elements #}
		 	{% if i == 4 %}
				</div><div class="row container">
				{% set i = 0 %}
			{% endif %}
			{% set i = i + 1 %}

			<div class="small-12 medium-6 large-3 columns">
				<div class="content-container">
					<div class="img-container" style="background-image: url('{{ article.image }}');"></div>
					<div class="title">
						{{ article.title }}
					</div>
					<div class="text-content-container">
						<span class="text-content">
							{{ article.excerpt }}
						</span>
						<strong class="luelisaa"><a href="#">{{ readmore }}</a></strong>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>