{# NAV TWO ROWS #}
<h3>Full width</h3>
<nav class="nav--tworows">
    <div class="row main-container">
        <div class="small-2 columns logoimg">
            <a href="#"><img src="https://placehold.it/135x30"></a>
        </div>
        <div class="small-8 columns">
            <ul class="row page-nav">
                {% for item in menu.get_items %}
                    {% if item.get_children %}
                        <li class="small-2 columns nav-main-item {{item.classes | join(' ')}} {% if loop.last %}end{% endif %}">
                            <span class="has-submenu"><a href="{{item.get_link}}">{{item.title}}</a> <a href="#" class="toggle-submenu">v</a></span>
                            <div class="submenu">
                                <div class="row submenu-container">
                                    <div class="small-2 columns">&nbsp;</div>
                                    <div class="small-8 columns">
                                        <ul class="row submenu-items-container">
                                            {% for child in item.get_children %}
                                                <li class="small-2 columns nav-child-item {{child.classes | join(' ')}} {% if loop.last %}end{% endif %}">
                                                    <a href="{{child.get_link}}">/ {{child.title}}</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="small-2 columns">&nbsp;</div>
                                </div>
                            </div>
                        </li>
                    {% else %}
                        <li class="small-2 columns {{item.classes | join(' ')}}"><a href="{{item.get_link}}">{{item.title}}</a></li>
                    {% endif %}
                {% endfor %}
                <li class="small-2 columns">
                    <ul class="lang-menu">
                        {% for lang in menu.get_langs %}
                            {% if not loop.first %}
                                <li class="lang-divider {{lang.classes | join(' ')}}">/</li>
                            {% endif %}
                            <li class="lang-item {{lang.classes | join(' ')}}"><a href="{{lang.get_link}}">{{lang.title}}</a></li>
                        {% endfor %}
                    </ul>
                </li>
            </ul>
        </div>
        <div class="small-2 columns">
            <!-- Include searchform.php here -->
            <form role="search" method="get" class="search-form" action="">
                <label>
                    <input type="search" class="search-field" value="" name="s" />
                </label>
                <button type="submit" class="search-submit"><img src="/assets/img/suurennuslasi.png"></button>
            </form>
        </div>
    </div>
</nav>

<script type="text/javascript">
    var navTworows;

    (navTworows = function() {
        "use strict";

        var $nav = $("nav.nav--tworows");
        var $previouslyOpenSubmenu = null;

        $(".toggle-submenu").on("click", function(event) {
            event.preventDefault();

            var $submenu = findSubmenu($(this));
            var isBeingClosed = isSubmenuOpen($submenu) && isSubmenuOpen($previouslyOpenSubmenu);

            closeSubmenu($previouslyOpenSubmenu);

            if (!isBeingClosed)
                openSubmenu($submenu);
        });

        function findSubmenu($toggleBtn) {
            return $toggleBtn.parent().next(".submenu:first");
        }
        function isSubmenuOpen($submenu) {
            return $submenu !== null && $submenu.hasClass("active");
        }
        function openSubmenu($submenu) {
            $nav.addClass("submenu-open");
            $submenu.addClass("active");    

            $previouslyOpenSubmenu = $submenu;
        }
        function closeSubmenu($submenu) {
            $nav.removeClass("submenu-open");

            if ($submenu !== null)
                $submenu.removeClass("active");

            $previouslyOpenSubmenu = null;
        }
    })();
</script>