<h3>Basic version: square images</h3>
<div class="row row--two-columns">
    <div class="column-list">
        <div class="small-6 columns">
            <div class="image-wrapper">
                <div class="column-image" style="background-image:url({{image}})"></div>
            </div>
            <div class="column-body">
                {{body}}
            </div>
        </div>
        <div class="small-6 columns">
            <div class="image-wrapper">
                <div class="column-image" style="background-image:url({{image}})"></div>
            </div>
            <div class="column-body">
                {{body}}
            </div>
        </div>
    </div>
</div>

<h3>Variation: 16:9 images</h3>
<div class="row row--two-columns row--two-columns--images-16-9">
    <div class="column-list">
        <div class="small-6 columns">
            <div class="image-wrapper">
                <div class="column-image" style="background-image:url({{image}})"></div>
            </div>
            <div class="column-body">
                {{body}}
            </div>
        </div>
        <div class="small-6 columns">
            <div class="image-wrapper">
                <div class="column-image" style="background-image:url({{image}})"></div>
            </div>
            <div class="column-body">
                {{body}}
            </div>
        </div>
    </div>
</div>

<h3>Variation: 4:3 images</h3>
<div class="row row--two-columns row--two-columns--images-4-3">
    <div class="column-list">
        <div class="small-6 columns">
            <div class="image-wrapper">
                <div class="column-image" style="background-image:url({{image}})"></div>
            </div>
            <div class="column-body">
                {{body}}
            </div>
        </div>
        <div class="small-6 columns">
            <div class="image-wrapper">
                <div class="column-image" style="background-image:url({{image}})"></div>
            </div>
            <div class="column-body">
                {{body}}
            </div>
        </div>
    </div>
</div>