{# SQUARE IMAGES #}
<h3>Basic version: square images</h3>
<div class="row row--five-columns">
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="show-for-medium medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="show-for-medium medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
</div>


{# 16/9 images #}
<h3>Variation #1: 16/9 images</h3>
<div class="row row--five-columns row--five-columns--images-16-9">
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="show-for-medium medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="show-for-medium medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
</div>

{# 4/3 images #}
<h3>Variation #2: 4/3 images</h3>
<div class="row row--five-columns row--five-columns--images-4-3">
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="small-5 medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="show-for-medium medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
	<div class="show-for-medium medium-3 columns">
		<div class="image-wrapper">
			<div class="column-image" style="background-image:url({{image}})"></div>
		</div>
		<div class="column-body">
			{{body}}
		</div>
	</div>
</div>
